html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-color: rgba(198, 199, 196, 0.3);
    @include dsc();
}

a {
    color: white;
    text-decoration: underline;
}

