@font-face {
    font-family: logo;
    src: url('../../fonts/RockSalt-Regular.ttf');
}

@font-face {
    font-family: raleway;
    src: url('../../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: raleway-bold;
    src: url('../../fonts/Raleway-Bold.ttf');
}

body {
    font-family: raleway;
}