form {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgba(198, 199, 196, 0.6);
}

label {
    font-family: raleway-bold;
    color: $tertiary-color;
    font-size: 30px;
    margin: 40px 0 40px 0;
}

input {
    margin-bottom: 20px;
    width: 40%;
    height: 50px;
    border: 2px solid $primary-color;
    border-radius: 10px 10px 10px 10px;
}

.submit {
    background-color: green;
    font-family: raleway-bold;
    font-size: 20px;
    color: white;
    border: none;
    margin-bottom: 40px;
}

.p--nom {
    color: red;
    display: none;
}

.p--prenom {
    color: red;
    display: none;
}

.p--ville {
    color: red;
    display: none;
}

.p--mail {
    color: red;
    display: none;
}

.p--adresse {
    color: red;
    display: none;
}

// VERSION MOBILE 

@media screen and (max-width: 768px) {
    input {
        width: 90%;
    }
    
}