// loader

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-7px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}